.menu img{
    padding-right:20px;
}

.logo{
    width:100%; 
    text-align: center;
    background-color: #fff;
    margin-top:24%;
}

.logo img{
    width:20%;
}

#logo a{
    font-size: 13px;
    font-weight:500;
    font-size: 40px;
}

.navbar-brand{
    color:#fff;
}


.wrapper i{
    color: #fff
}

.is-active{
    background-color: rgb(79, 236, 119);
    color:#000
}